<div id="bb">

  <h1>nojs Listing all races on GoodTunes</h1>
  
  <table border=1 cellpadding=10 cellspacing=0>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Target</th>
      </tr>
    </thead>

    <tbody>
      <% @races.each do |race| %>
        <%= render 'race', :mustache => {name: race.name, description: race.description, id: race.id, date: race.date, target: race.target} %>
      <% end %>
    </tbody>
  </table>
</div>