<div id="bb">

<h1>nojs Listing all runners on GoodTunes</h1>

<table border=1 cellpadding=10 cellspacing=0>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= render 'user', :mustache => { name: user.name, id: user.id } %>
    <% end %>
  </tbody>
</table>
</div>