<h1>Listing runners</h1>

<table id="users-table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<a href="#/races/index">All races</a>
<a href="#/runners/index">All runners</a>